// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (100: hsl(0.00, 72.65%, 77.06%),
    200: hsl(4.11, 89.62%, 58.43%),
    300: hsl(1.36, 77.19%, 55.29%),
    400: hsl(0.00, 66.39%, 46.67%),
    500: hsl(0.00, 73.46%, 41.37%),
  ),
  secondary: (100: hsl(200 23% 97%),
    200: hsl(205 12% 88%),
    300: hsl(209 13% 83%),
    400: hsl(208 6% 55%),
    500: hsl(212 9% 22%),
  ),
  neutral: (100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (100: hsl(240, 4%, 9%),
  ),
);